# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\CodeGymDN\Module 3\b09.Tong_quan_ung_dung_Web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
